:root{
    --accent1: #6a11cb;
    --accent2: #2575fc;
    --accent3: #43cea2;
    --muted: rgba(255,255,255,0.9);
    --glass-bg: rgba(225,225,225,0.5);
    --dark-overlay: rgba(0,0,0,0.50);
    --bg1:#0f1724;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #0f0f1a; */
    background: radial-gradient(1200px 600px at 10% 10%, rgba(124,92,255,0.08), transparent),
    radial-gradient(1000px 500px at 90% 90%, rgba(0,212,255,0.06), transparent),
    var(--bg1);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
}

body{
    margin: 0;
    height: 100vh;
    backdrop-filter: blur(10px);
}

.Card{
    position: relative;
    width: 360px;
    padding: 30px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    text-align: center;
    overflow: hidden;
}

.The-Bg{
    position: relative;
    background: #0f0f1a;
    padding: 10px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    width: 352px;
    left: -25.8px;
    top: -26px;
    bottom: -25;
    margin-bottom: -52px;
}

.Card::before{
    content: "";
    position: absolute;
    top: -50%; 
    left: -50%;
    width: 105%;
    height: 120%;
    inset: -2px;
    background: linear-gradient(90deg, #ee5007, #ff00ff, #bc13fe,#00fff7);   
    filter: blur(18px);
    -webkit-filter: blur(18px);
    opacity: 0.9;
    z-index: 0;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    animation: rotateGrad 5s linear infinite;
    -webkit-animation: rotateGrad 5s linear infinite;
    z-index: 0; 
    
} 

.Card::after{
    content: " ";
    position: absolute;
    top: 4px;
    left: 4px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    background: var(--glass-bg);
    backdrop-filter: blur(12px);
    z-index: 1;
    border-radius: 12PX;
    -webkit-border-radius: 12PX;
    -moz-border-radius: 12PX;
    -ms-border-radius: 12PX;
    -o-border-radius: 12PX;
}

.Card > * {
    position: relative;
    z-index: 2;
}

.Intro h1{
    font-size: 24px;
    margin-bottom: 30px;
    text-shadow: 0 5px 6px rgba(0,0,0,0.6);
}

.Intro-P{
    margin-bottom: 25px;
}

.Input-Fields{
    text-align: left;
    margin-bottom: 35px;
}

.Input-Fields label{
    display: block;
    margin-bottom: 6px;
    color: var(--muted);
    font-size: 14px;
}

.Input-Fields input{
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border: none;
    background: rgba(255,255,255,0.15);
    font-size: 14px;
    outline: none;
}

button{
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    border: none;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.Help{
    margin: 0;
    font-size: 15px;
    text-align: left;
    
}

.Help a{
    color: var(--accent1);
    text-decoration: none;
    font-weight: 500;
}

.Login-Btn{
    background: var(--accent2);
    color: white;
}

.SignUp-Field{
    margin-bottom: 10px;
}

.SignUp-Btn{
    background: transparent;
    border: 2px solid var(--accent2);
}

.Sign-Up{
    text-decoration: none;
    color: var(--accent2);
    
} 

.Creat-An-Acc p{
    color: var(--muted);
    font-size: 14px;
    text-align: center;
    margin-top: 25px;

}

.Creat-An-Acc a{
    text-decoration: none;
    color: var(--accent1);
    font-weight: 500;
}

/* ANIMATION FOR BORDWER */
@keyframes rotateGrad{
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}